body{
    color: fff;
    background-color: #e0e0e0;
}

.header{
    background-color: #222;
}

.windowTitle{
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.68);
}

.windowsButton{
    color: #757575;
}

.windowsButton:hover{
    color: #ef5350;
}

#minimizeWindow:hover{
    color: #f1c40f !important;
}

.pageTop{
    background-color: #B0BEC5;
}

.backPage{
    color: #757575;
}

button{
    background-color: #B0BEC5;
    border:1px solid #757575;
    color: #000;
}

button:active{
    background-color: #34495e;
}

.settingsButton{
    color: #757575;
}

.settingsButton:hover .fa.fa-circle{
    color: #222;
}

.icon-background{
    color: #B0BEC5;
}