body{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

body a{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #eee;
    text-decoration: none;
    display: block;
    text-align: center;
}