html{
    margin: 0;
    padding: 0;   
    border-radius: 200px;
    overflow: hidden;
   }
   
   
body{
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    color: white;
    position: absolute;
    top: 0px;   
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    -webkit-app-region:drag;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: #34495e;
}

.windowsButton{
    color: #757575;
    font-size: 30px;
    float: right;
    margin-right: 10px;
    padding: 0;
    display: inline-block;
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    line-height: 50px;
    cursor: pointer;
}

.windowsButton:hover{
    color: #ef5350;
}

#minimizeWindow:hover{
    color: #f1c40f !important;
}

.windowTitle{
    float: left;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    margin-left: 10px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.68);
    letter-spacing: -1px;
}

.pageTop{
    background-color: #ef5350;
    line-height: 40px;
}

.backPage{
    color: #757575;
    font-size: 40px;
    float: left;
    margin-left: 10px;
    padding: 0;
    display: inline-block;
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    cursor: pointer;
}

.pageTitle{
    float: left;
    display: inline-block;
    font-size: 24px;
    margin-left: 10px;
}

.pageContent{
    display: block;
}

#mainPage{
    padding: 20px;
    width: 100%;
    height: 100%;
}

button{
    background-color: #B0BEC5;
    border:1px solid #757575;
    outline: none;
    padding: 20px;
    color: #000;
    font-size: 18px;
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    cursor: pointer;
}

input{
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    cursor: pointer;
}

button:active{
    background-color: #34495e;
}

#timerPage{
    display: none;
    padding-top: 20px;
}

#settingsPage{
    display: none;
    padding-top: 20px;
}

#settingsPageContent{
    padding: 20px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.settingsButton{
    display: inline-block;
    position: absolute !important;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #757575;
    -webkit-user-select: none;
	-webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.settingsButton:hover .fa.fa-circle{
    color: #000;
}

.icon-background{
    color: #B0BEC5;
}